name: CI

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  formatting:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: haskell-actions/run-ormolu@v17
      - uses: tfausak/cabal-gild-setup-action@v2
        with:
          version: 1.6.0.2

  ci-wasm:
    runs-on: ubuntu-24.04
    permissions:
      pages: write
      id-token: write
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        flavour:
          - "9.14"
          - "9.12"
          - "9.10"
        experimental:
          - false
        include:
          - flavour: "gmp"
            experimental: true
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - run: |
          cabal update --ignore-project
          cabal install --ignore-project -O2 hscolour

      - run: |
          pushd "$(mktemp -d)"
          curl -L https://gitlab.haskell.org/haskell-wasm/ghc-wasm-meta/-/archive/master/ghc-wasm-meta-master.tar.gz | tar xz --strip-components=1
          ./setup.sh
          ~/.ghc-wasm/add_to_github_path.sh
          cp cabal.project.local ${{ github.workspace }}
          popd
        env:
          FLAVOUR: ${{ matrix.flavour }}

      - run: |
          wasm32-wasi-cabal build miso-todomvc --dry-run

      - uses: actions/cache@v4
        with:
          key: ci-wasm-${{ matrix.flavour }}-${{ hashFiles('dist-newstyle/cache/plan.json') }}
          restore-keys: ci-wasm-${{ matrix.flavour }}-
          path: |
            ~/.ghc-wasm/.cabal/store

      - run: |
          cp -r dist-newstyle/src/miso-todo*/static public
          wasm32-wasi-cabal install miso-todomvc --install-method=copy --installdir=public
          $(wasm32-wasi-ghc --print-libdir)/post-link.mjs --input public/app.wasm --output public/ghc_wasm_jsffi.js

      - run: |
          git clone --ref-format=reftable --depth=1 https://github.com/haskell-wasm/playwright.git
          pushd playwright/examples/todomvc
          npm install
          npx playwright install --with-deps --no-shell
          TODOMVC_DIST_DIR=${{ github.workspace }}/public npx playwright test --reporter=list --workers=$(nproc)
          popd

      - run: |
          wasm32-wasi-cabal haddock --haddock-output-dir=dist-haddock

      - if: matrix.flavour == '9.14' && github.event_name == 'push' && github.ref_name == 'master'
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist-haddock
          retention-days: 90

      - if: matrix.flavour == '9.14' && github.event_name == 'push' && github.ref_name == 'master'
        uses: actions/deploy-pages@v4

  ci-native:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        flavour:
          - "9.12"
          - "9.10"
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - run: |
          cabal update --ignore-project
          cabal install --ignore-project -O2 hscolour

      - uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.flavour }}

      - run: |
          cabal build jsaddle-wasm --dry-run

      - uses: actions/cache@v4
        with:
          key: ci-native-${{ matrix.flavour }}-${{ hashFiles('dist-newstyle/cache/plan.json') }}
          restore-keys: ci-native-${{ matrix.flavour }}-
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}

      - run: |
          cabal build jsaddle-wasm
